.icon {
	box-sizing: content-box;
	position: relative;
	display: inline-block;
	width: 24px;
	height: 1em;
	min-height: 16px;
	padding-right: 12px;
	vertical-align: text-bottom;
}

.icon:before {
	content: ' ';
	display: block;
	width: 24px;
	height: 24px;
	position:absolute;
	top: -0.275em;
	left: 0;
	filter: grayscale(100%) brightness(25%);
}

.icon.icon-theme-light:before {
	filter: grayscale(100%) invert(100%) brightness(150%);
}

.icon.icon-theme-dark:before {
	filter: grayscale(100%) brightness(25%);
}

.icon.icon-theme-green:before {
	filter: hue-rotate(69deg) saturation(108.1%) brightness(116.3%);
}

.icon.icon-theme-orange:before {
	filter: grayscale(100%) invert(100%) brightness(150%);
}

.icon.icon-theme-teal:before {
	filter: grayscale(100%) invert(100%) brightness(150%);
}

.icon.icon-theme-blue:before {
	filter: grayscale(100%) invert(100%) brightness(150%);
}

.icon.icon-theme-yellow:before {
	filter: grayscale(100%) invert(100%) brightness(150%);
}

.icon[title]:not([title=""]) {
	cursor: help;
}

.icon.icon-size-big {
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	margin-bottom: -.75em;
}

.icon.icon-size-big:before {
	width: 48px;
	height: 48px;
	top: 0;
	left: 0;
}

.icon.icon-link:before {
	background: url(icons/1.png) -168px -120px;
	top: -.45em;
}
.icon.icon-size-big.icon-link:before {
	background: url(icons2x/1.png) -336px - 240px;
}

.icon.icon-calendar:before {
	background: url(icons/1.png) -216px -168px;
	top: -.45em;
}
.icon.icon-size-big.icon-calendar:before {
	background: url(icons2x/1.png) -432px -336px;
}

.icon.icon-envelope:before {
	background: url(icons/3.png) -216px -120px;
	top: -.45em;
}
.icon.icon-size-big.icon-envelope:before {
	background: url(icons2x/3.png) -432px -240px;
}

.icon.icon-tag:before {
	background: url(icons/2.png) -120px -24px;
}
.icon.icon-size-big.icon-tag:before {
	background: url(icons2x/2.png) -240px -48px;
}

.icon.icon-ticket:before {
	background: url(icons/4.png) -120px -120px;
}
.icon.icon-size-big.icon-ticket:before {
	background: url(icons2x/4.png) -240px -240px;
}

.icon.icon-presenter:before {
	background: url(icons/4.png) -216px -168px;
}
.icon.icon-size-big.icon-presenter:before {
	background: url(icons2x/4.png) -432px -168px;
}

.icon.icon-robot-laptop:before {
	background: url(icons/7.png) -120px -168px;
	top: -.45em;
}
.icon.icon-size-big.icon-robot-laptop:before {
	background: url(icons2x/7.png) -240px -336px;
}

.icon.icon-speaker:before {
	background: url(icons/6.png) -168px -168px;
}
.icon.icon-size-big.icon-speaker:before {
	background: url(icons2x/6.png) -336px -336px;
}

.icon.icon-video-speaker:before {
	background: url(icons/6.png) -72px 0;
}
.icon.icon-size-big.icon-video-speaker:before {
	background: url(icons2x/6.png) -144px 0;
}

.icon.icon-robot-speaker:before {
	background: url(icons/8.png) -72px -120px;
}
.icon.icon-size-big.icon-robot-speaker:before {
	background: url(icons2x/8.png) -144px -240px;
}

.icon.icon-instructor:before {
	background: url(icons/4.png) -216px -168px;
}
.icon.icon-size-big.icon-instructor:before {
	background: url(icons2x/4.png) -432px -336px;
}

.icon.icon-house:before {
    background: url(icons/3.png) -120px -72px;
    top: -.45em;
}
.icon.icon-size-big.icon-house:before {
    background: url(icons2x/3.png) -240px -144px;
}

.icon.icon-marker:before {
	background: url(icons/3.png) -120px -120px;
    top: -.4em;
}
.icon.icon-size-big.icon-marker:before {
	background: url(icons2x/3.png) -240px -240px;
}

.icon.icon-user:before {
    background: url(icons/2.png) -168px -120px;
}
.icon.icon-size-big.icon-user:before {
    background: url(icons2x/2.png) -336px -240px;
}

.icon.icon-close-circle:before {
    background: url(icons/2.png) -216px -120px;
}
.icon.icon-size-big.icon-close-circle:before {
    background: url(icons2x/2.png) -432px -240px;
}

.icon.icon-close:before {
    background: url(icons/3.png) -24px -24px;
}
.icon.icon-size-big.icon-close:before {
    background: url(icons2x/3.png) -48px -48px;
}

.icon.icon-list:before {
    background: url(icons/1.png) -216px -24px;
}
.icon.icon-size-big.icon-list:before {
    background: url(icons2x/1.png) -432px -48px;
}

.icon.icon-info:before {
    background: url(icons/2.png) -168px -168px;
    top: -.4em;
}
.icon.icon-size-big.icon-info:before {
    background: url(icons2x/2.png) -336px -336px;
}

.icon.icon-gear:before {
    background: url(icons/2.png) -72px -24px;
}
.icon.icon-size-big.icon-gear:before {
    background: url(icons2x/2.png) -144px -48px;
}

.icon.icon-wrench:before {
    background: url(icons/1.png) -120px -168px;
    top: -.4em;
}
.icon.icon-size-big.icon-wrench:before {
    background: url(icons2x/2.png) -240px -336px;
}

.icon.icon-clock:before {
    background: url(icons/1.png) -216px -72px;
    top: -.4em;
}
.icon.icon-size-big.icon-clock:before {
    background: url(icons2x/2.png) -432px -144px;
}

.icon.icon-exclamation:before {
	background: url(icons/2.png) -120px -72px;
}
.icon.icon-size-big.icon-exclamation:before {
	background: url(icons2x/2.png) -240px -144px;
}

.icon.icon-robot-graduate:before {
	background: url(icons/7.png) -168px -168px;
}
.icon.icon.icon-size-big.icon-robot-graduate:before {
	background: url(icons2x/7.png) -336px -336px;
}

.icon.icon-robot:before {
	background: url(icons/7.png) -168px -120px;
	top: -.45em;
}
.icon.icon.icon-size-big.icon-robot:before {
	background: url(icons2x/7.png) -336px -240px;
}

.icon.icon-robot-screen:before {
	background: url(icons/8.png) -168px -168px;
}
.icon.icon.icon-size-big.icon-robot-screen:before {
	background: url(icons2x/8.png) -336px -336px;
}

.icon.icon-cinema-chair:before {
	background: url(icons/4.png) -120px -168px;
}
.icon.icon.icon-size-big.icon-cinema-chair:before {
	background: url(icons2x/4.png) -240px -336px;
}

.icon.icon-download-line:before {
	background: url(icons/3.png) -120px -24px;
}
.icon.icon.icon-size-big.icon-download-line:before {
	background: url(icons2x/3.png) -240px -48px;
}

.icon.icon-save:before {
	background: url(icons/1.png) -24px -24px;
}
.icon.icon.icon-size-big.icon-save:before {
	background: url(icons2x/1.png) -48px -48px;
}

.icon.icon-upload-line:before {
	background: url(icons/3.png) -168px -24px;
}
.icon.icon.icon-size-big.icon-upload-line:before {
	background: url(icons2x/3.png) -336px -48px;
}

.icon.icon-download:before {
	background: url(icons/5.png) -72px -120px;
}
.icon.icon.icon-size-big.icon-download:before {
	background: url(icons2x/5.png) -144px -240px;
}

/*
.icon.icon-:before {
	background-image: url(icons/.png) 0 0;
}
*/

/*
@media
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
	.icon {
		width: 48px;
		margin-bottom: -6px;
		margin-bottom: calc(.5em - 24px);
	}
	
	.icon:before {
		width: 48px;
		height: 48px;
	}
	
	.icon.icon-info:before {
		background: url(icons2x/3.png) -238px -238px;
	}
	
	.icon.icon-exclamation:before {
		background: url(icons2x/2.png) -160px -80px;
	}
	
	.icon.icon-robot-graduate:before {
		background: url(icons2x/7.png) -238px -238px;
	}
}
*/